{% extends 'base.twig' %}

{% block content %}

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Find tour exercise</div>
        <div class="panel-body table-responsive">
          <table class="table table-striped table-hover">

            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Short description</th>
                <th>Groups</th>
              </tr>
            </thead>

            <tbodt>
              {% for exercise in exercises %}
                {% set count = count + 1 %}
                <tr class='clickable-row' data-href='/dashboard/exercises/{{ exercise.slug }}'>
                  <td>{{ count }}</td>
                  <td>{{ exercise.exercise_name }}</td>
                  <td class="exercises description">{{ exercise.exercise_description|slice(0, 80) ~ '...' }}</td>
                  <td>
                    {% for group in exercise.groups %}

                      <span class="group {{ group.muscle_group_name|lower }}">{{ group.muscle_group_name }}</span>

                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbodt>

          </table>
        </div>
      </div>
    </div>
  </div>


{% endblock %}